<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cehome.cloud.user.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.cehome.cloud.user.model.po.Role" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="TINYINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="delete_status" property="deleteStatus" jdbcType="TINYINT" />
    <result column="paltform_id" property="paltformId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="permission_role_id" property="permissionRoleId" jdbcType="VARCHAR" />
    <result column="is_admin" property="isAdmin" jdbcType="TINYINT" />
  </resultMap>
  <sql id="allColumn" >
    id, name, seq, description, delete_status, paltform_id, create_time, update_time,permission_role_id, is_admin
  </sql>
  <sql id="fixedColumn">
        r.id, r.name, r.seq, r.description, r.delete_status, r.paltform_id, r.permission_role_id, r.is_admin, r.create_time,
        r.update_time
    </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="allColumn" />
    from perm_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from perm_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cehome.cloud.user.model.po.Role" >
    insert into perm_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="seq != null" >
        seq,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="deleteStatus != null" >
        delete_status,
      </if>
      <if test="paltformId != null" >
        paltform_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="permissionRoleId != null" >
        permission_role_id,
      </if>
      <if test="isAdmin != null" >
        is_admin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=TINYINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=TINYINT},
      </if>
      <if test="paltformId != null" >
        #{paltformId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="permissionRoleId != null" >
        #{permissionRoleId,jdbcType=VARCHAR},
      </if>
      <if test="isAdmin != null" >
        #{isAdmin,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.cehome.cloud.user.model.po.Role" >
    update perm_role
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        seq = #{seq,jdbcType=TINYINT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null" >
        delete_status = #{deleteStatus,jdbcType=TINYINT},
      </if>
      <if test="paltformId != null" >
        paltform_id = #{paltformId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="permissionRoleId != null" >
        permission_role_id = #{permissionRoleId,jdbcType=VARCHAR},
      </if>
      <if test="isAdmin != null" >
        is_admin = #{isAdmin,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="allColumn"/>
    from saas_role
  </select>

  <select id="selectCount" resultType="int">
    select count(id)
    from saas_role
    <where>
      <if test="query.name != null">
        and name = #{query.name,jdbcType=VARCHAR}
      </if>
      <if test="query.status != null">
        and delete_status = #{query.status,jdbcType=TINYINT}
      </if>
    </where>
  </select>
  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="allColumn"/>
    from saas_role
    <where>
      <if test="query.name != null">
        and name = #{query.name,jdbcType=VARCHAR}
      </if>
      <if test="query.status != null">
        and delete_status = #{query.status,jdbcType=TINYINT}
      </if>
    </where>
    <if test="query.order != null">
      order by ${query.order.desc} ${query.sort.desc}
    </if>
    limit #{query.startIndex}, #{query.count}
  </select>
  <select id="selectByUser" resultMap="BaseResultMap">
    select
    <include refid="fixedColumn"/>
    from saas_role r,saas_user_role ur where r.id = ur.role_id
    <if test="userId != null">
      and ur.user_id = #{userId}
    </if>
  </select>
</mapper>