<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cehome.cloud.user.dao.PermissionMapper" >
  <resultMap id="BaseResultMap" type="com.cehome.cloud.user.model.po.Permission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="paltform_id" property="platformId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="perms" property="perms" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="allColumn" >
    id, name, url, icon, parent_id, sort, status, type, paltform_id, create_time, update_time, 
    perms
  </sql>
  <sql id="allColumnRel" >
    p.id, p.name, p.url, p.icon, p.parent_id, p.sort, p.status, p.type, p.paltform_id, p.create_time,
    p.update_time,p.perms
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="allColumn" />
    from perm_permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from perm_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cehome.cloud.user.model.po.Permission" >
    insert into perm_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="perm.id != null" >
        id,
      </if>
      <if test="perm.name != null" >
        name,
      </if>
      <if test="perm.url != null" >
        url,
      </if>
      <if test="perm.icon != null" >
        icon,
      </if>
      <if test="perm.parentId != null" >
        parent_id,
      </if>
      <if test="perm.sort != null" >
        sort,
      </if>
      <if test="perm.status != null" >
        status,
      </if>
      <if test="perm.type != null" >
        type,
      </if>
      <if test="perm.platformId != null" >
        paltform_id,
      </if>
      <if test="perm.createTime != null" >
        create_time,
      </if>
      <if test="perm.updateTime != null" >
        update_time,
      </if>
      <if test="perm.perms != null" >
        perms,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="perm.id != null" >
        #{perm.id,jdbcType=INTEGER},
      </if>
      <if test="perm.name != null" >
        #{perm.name,jdbcType=VARCHAR},
      </if>
      <if test="perm.url != null" >
        #{perm.url,jdbcType=VARCHAR},
      </if>
      <if test="perm.icon != null" >
        #{perm.icon,jdbcType=VARCHAR},
      </if>
      <if test="perm.parentId != null" >
        #{perm.parentId,jdbcType=INTEGER},
      </if>
      <if test="perm.sort != null" >
        #{perm.sort,jdbcType=TINYINT},
      </if>
      <if test="perm.status != null" >
        #{perm.status,jdbcType=TINYINT},
      </if>
      <if test="perm.type != null" >
        #{perm.type,jdbcType=TINYINT},
      </if>
      <if test="perm.platformId != null" >
        #{perm.platformId,jdbcType=INTEGER},
      </if>
      <if test="perm.createTime != null" >
        #{perm.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="perm.updateTime != null" >
        #{perm.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="perm.perms != null" >
        #{perm.perms,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.cehome.cloud.user.model.po.Permission" >
    update perm_permission
    <set >
      <if test="perm.name != null" >
        name = #{perm.name,jdbcType=VARCHAR},
      </if>
      <if test="perm.url != null" >
        url = #{perm.url,jdbcType=VARCHAR},
      </if>
      <if test="perm.icon != null" >
        icon = #{perm.icon,jdbcType=VARCHAR},
      </if>
      <if test="perm.parentId != null" >
        parent_id = #{perm.parentId,jdbcType=INTEGER},
      </if>
      <if test="perm.sort != null" >
        sort = #{perm.sort,jdbcType=TINYINT},
      </if>
      <if test="perm.status != null" >
        status = #{perm.status,jdbcType=TINYINT},
      </if>
      <if test="perm.type != null" >
        type = #{perm.type,jdbcType=TINYINT},
      </if>
      <if test="perm.platformId != null" >
        paltform_id = #{perm.platformId,jdbcType=INTEGER},
      </if>
      <if test="perm.createTime != null" >
        create_time = #{perm.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="perm.updateTime != null" >
        update_time = #{perm.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="perm.perms != null" >
        perms = #{perm.perms,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="permissionAll" resultMap="BaseResultMap">
    select
    <include refid="allColumn"/>
    from perm_permission
  </select>

  <select id="selectByUser" resultMap="BaseResultMap">
    select DISTINCT
    <include refid="allColumnRel"/>
    from perm_permission p, perm_role_permission rp, perm_user_role ur
    where p.id = rp.permission_id
    and rp.role_id = ur.role_id
    and ur.user_id = #{userId}
  </select>

  <select id="selectByRole" resultMap="BaseResultMap">
    select DISTINCT
    <include refid="allColumnRel"/>
    from perm_permission p, perm_role_permission rp
    where p.id = rp.permission_id
    and rp.role_id = #{roleId}
  </select>
</mapper>