<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cehome.cloud.user.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.cehome.cloud.user.model.po.UserRole" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="platform_id" property="platformId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="delete_status" property="deleteStatus" jdbcType="TINYINT" />
  </resultMap>
  <sql id="allColumn" >
    id, user_id, role_id, platform_id, create_time, update_time, delete_status
  </sql>
  <insert id="insert">
    insert into perm_user_role (user_id, role_id,platform_id,
    create_time, update_time, delete_status
    )
    values
    <foreach collection="userRoles" item="userRole" index="index" separator=",">
      (
      #{userRole.userId,jdbcType=INTEGER},
      #{userRole.roleId,jdbcType=INTEGER},
      #{userRole.platformId,jdbcType=INTEGER},
      #{userRole.createTime,jdbcType=BIGINT},
      #{userRole.updateTime,jdbcType=BIGINT},
      0
      )
    </foreach>
  </insert>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from perm_user_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <update id="deleteById" parameterType="java.lang.Long" >
    update perm_user_role
    <set>
      delete_status = 1
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteByUserId">
    delete from perm_user_role
    where user_id = #{userId}
    and platform_id = #{platformId}
    and role_id in
    <foreach collection="roleIds" index="index" item="roleId" open="(" separator="," close=")">
      #{roleId}
    </foreach>
  </delete>
  <delete id="deleteByRoleId">
    delete from perm_user_role
    where role_id = #{roleId}
    and user_id in
    <foreach collection="userIds" index="index" item="userId" open="(" separator="," close=")">
      #{userId}
    </foreach>
  </delete>

  <delete id="deleteByRole">
        delete from perm_user_role
        where role_id = #{roleId}
    </delete>
  <delete id="deleteByUser">
        delete from perm_user_role
        where user_id = #{userId}
    </delete>
  <select id="selectByUserId" resultMap="BaseResultMap">
    select
    <include refid="allColumn"/>
    from perm_user_role
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectByRoleId" resultMap="BaseResultMap">
    select
    <include refid="allColumn"/>
    from perm_user_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
</mapper>