<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cehome.cloud.user.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.cehome.cloud.user.model.po.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="TINYINT" />
    <result column="delete_status" property="deleteStatus" jdbcType="TINYINT" />
    <result column="platform_id" property="platformId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="allColumn" >
    id, login_name, name, password, salt, phone, email, user_type, delete_status, platform_id, 
    create_time, update_time, update_user_id, create_user_id
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="allColumn" />
    from perm_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from perm_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cehome.cloud.user.model.po.User" >
    insert into perm_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="user.id != null" >
        id,
      </if>
      <if test="user.loginName != null" >
        login_name,
      </if>
      <if test="user.name != null" >
        name,
      </if>
      <if test="user.password != null" >
        password,
      </if>
      <if test="user.salt != null" >
        salt,
      </if>
      <if test="user.phone != null" >
        phone,
      </if>
      <if test="user.email != null" >
        email,
      </if>
      <if test="user.userType != null" >
        user_type,
      </if>
      <if test="user.deleteStatus != null" >
        delete_status,
      </if>
      <if test="user.platformId != null" >
        platform_id,
      </if>
      <if test="user.createTime != null" >
        create_time,
      </if>
      <if test="user.updateTime != null" >
        update_time,
      </if>
      <if test="user.updateUserId != null" >
        update_user_id,
      </if>
      <if test="user.createUserId != null" >
        create_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="user.id != null" >
        #{user.id,jdbcType=INTEGER},
      </if>
      <if test="user.loginName != null" >
        #{user.loginName,jdbcType=VARCHAR},
      </if>
      <if test="user.name != null" >
        #{user.name,jdbcType=VARCHAR},
      </if>
      <if test="user.password != null" >
        #{user.password,jdbcType=VARCHAR},
      </if>
      <if test="user.salt != null" >
        #{user.salt,jdbcType=VARCHAR},
      </if>
      <if test="user.phone != null" >
        #{user.phone,jdbcType=VARCHAR},
      </if>
      <if test="user.email != null" >
        #{user.email,jdbcType=VARCHAR},
      </if>
      <if test="user.userType != null" >
        #{user.userType,jdbcType=TINYINT},
      </if>
      <if test="user.deleteStatus != null" >
        #{user.deleteStatus,jdbcType=TINYINT},
      </if>
      <if test="user.platformId != null" >
        #{user.platformId,jdbcType=INTEGER},
      </if>
      <if test="user.createTime != null" >
        #{user.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="user.updateTime != null" >
        #{user.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="user.updateUserId != null" >
        #{user.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="user.createUserId != null" >
        #{user.createUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.cehome.cloud.user.model.po.User" >
    update perm_user
    <set >
      <if test="user.loginName != null" >
        login_name = #{user.loginName,jdbcType=VARCHAR},
      </if>
      <if test="user.name != null" >
        name = #{user.name,jdbcType=VARCHAR},
      </if>
      <if test="user.password != null" >
        password = #{user.password,jdbcType=VARCHAR},
      </if>
      <if test="user.salt != null" >
        salt = #{user.salt,jdbcType=VARCHAR},
      </if>
      <if test="user.phone != null" >
        phone = #{user.phone,jdbcType=VARCHAR},
      </if>
      <if test="user.email != null" >
        email = #{user.email,jdbcType=VARCHAR},
      </if>
      <if test="user.userType != null" >
        user_type = #{user.userType,jdbcType=TINYINT},
      </if>
      <if test="user.deleteStatus != null" >
        delete_status = #{user.deleteStatus,jdbcType=TINYINT},
      </if>
      <if test="user.platformId != null" >
        platform_id = #{user.platformId,jdbcType=INTEGER},
      </if>
      <if test="user.createTime != null" >
        create_time = #{user.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="user.updateTime != null" >
        update_time = #{user.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="user.updateUserId != null" >
        update_user_id = #{user.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="user.createUserId != null" >
        create_user_id = #{user.createUserId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{user.id,jdbcType=INTEGER}
  </update>
  <select id="selectByLoginName" resultMap="BaseResultMap">
    select
    <include refid="allColumn"/>
    from perm_user
    where login_name = #{loginName}
  </select>

  <select id="selectByLoginNameAndPassword" resultMap="BaseResultMap">
    select
    <include refid="allColumn"/>
    from perm_user
    where login_name = #{loginName} and password = #{password}
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="allColumn"/>
    from perm_user
    <where>
      <if test="query.loginName != null">
        and login_name = #{query.loginName,jdbcType=VARCHAR}
      </if>
      <if test="query.phone != null">
        and phone = #{query.phone,jdbcType=VARCHAR}
      </if>
      <if test="query.organizationId != null">
        and organization_id = #{query.organizationId,jdbcType=INTEGER}
      </if>
      <if test="query.platformId != null">
        and platform_id = #{query.platformId,jdbcType=INTEGER}
      </if>
    </where>
    <if test="query.order != null">
      order by ${query.order.desc} ${query.sort.desc}
    </if>
    limit #{query.startIndex}, #{query.count}
  </select>

  <select id="selectCount" resultType="int">
    select count(id)
    from perm_user
    <where>
      <if test="query.loginName != null">
        and login_name = #{query.loginName,jdbcType=VARCHAR}
      </if>
      <if test="query.phone != null">
        and phone = #{query.phone,jdbcType=VARCHAR}
      </if>
      <if test="query.organizationId != null">
        and organization_id = #{query.organizationId,jdbcType=INTEGER},
      </if>

      <if test="query.platformId != null">
        and platform_id = #{query.platformId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="validate" resultType="int">
        select count(1)
        from perm_user
        where login_name = #{loginName}
    </select>
</mapper>